/* div {
border: solid 3px green;
} */

 body {
  background-color: lightgray;
  margin: 100px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 20px;
}

#mainheader {
  background-color: #ffffff;

}

#sec1 {
  display: flex;
  background-color: #ffffff;
  border-style: solid 5px #green;
  padding-right: 20px;
}
h1 {
    flex: 1;
    background: #4aaaa5;
    color: white;
    width: 350px;
    height: 100px;
    margin-left: 3em;
    padding-left: 2em;
    margin-top: 0em;
    padding-bottom: 5px;
    align-items: center;
}
#main {
  display: flex;
}
#nav {
  flex:1;
  justify-content: flex-start;
  padding-bottom: 40px;

}

#sec1 {
  flex: 2;
  margin: 0 40px;
}

#sec2 {
 flex: 1;
 height: 5px;
 width: 10px;
}
.links {
    display: flex;
    justify-content: flex-end;
    font-family: Arial;
    border-bottom-color: solid 5px lightgray;

}


a {
    padding-right: 10px;
    text-decoration: none;
    color: lightgray;

}

.top {
    border-right: 1px solid lightgray;
    padding-left: 10px;
    font-size: 25px;

}

 .top:last-child  {
    border-right: none;

}

h2 {
  font-size: 38px;
  color: #4aaaa5;
}

.right {
  background-color: #ffffff;
  width: 390px;

}

  h4 {
    text-align: center;
      font-size: 30px;
      color: teal;
      padding-top: 8px;
  }

#post {
  border-color: solid 5px #ffffff;
}

.content-subsection {
  float:left;

}

.image {
  float:left;
  margin: 30px;
}
  .content-subsection {
     float: left;
      padding-left: 2px;
     /* padding-right: 5px; */
     margin-left: 15px;



.post {
  float: left;
}

h4 {
float: left;

}

.boxes {
    display: flex;
    justify-content: spac
}

.picture {
  display: flex;
  float: left;


}

.box4 {
  float: right;


.footer {
text-align: center;
position:relative;
width: 100%;
padding:60px 0px;
text-align: center; */

}
